body{
	font-family: 'Inconsolata', monospace;
	font-size: 16px;
}

p { font-size: 100%; }
h1 { font-size: 125%; }

#wrapper {
	width: 60%;
	margin: 0 auto;
}

#navBar {
	width: auto;
	height: 10%;
	margin: auto;
}

ul {
    width: fit-content;
    margin: 0 auto;
    padding: 0;
}

li {
    display: inline-block;
}

li a{
    margin-left: 15px;
	margin-right: 15px;

	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 2px;

	font-weight: bold;
	font-size: 225%;
	text-decoration: none; /* no underline */
	color: black;

	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAI0lEQVQYV2NcvHjxfwYGBobY2FhGEM2IIQASBQGYBFgZsgAADagN1V+rejkAAAAASUVORK5CYII=) repeat;
}

li a:hover{
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIElEQVQYV2P8z/D9PwMDAwMjAycjmMYQAImCAEICTQAArQwL79oYbKYAAAAASUVORK5CYII=) repeat;
}

li a.current{
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIElEQVQYV2P8z/D9PwMDAwMjAycjmMYQAImCAEICTQAArQwL79oYbKYAAAAASUVORK5CYII=) repeat;
}

#photos {
	width: 75%;
	margin: auto;
}

#photos img {
	display: block;

	max-width: 100%;
	margin: auto;
	opacity: inherit;
}


#photos p {
	display: table;

	max-height: 80%;
	max-width: 100%;

	width: auto;

	margin: 1% auto 1% auto;

	color: #939393;
	font-style: italic;


	opacity: 0;

	-webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    transition: opacity 1s;
}

#photos p.loaded {
	opacity: 1;
}

@media only screen and (max-device-width: 768px) {

	p { font-size: 150%; }
	h1 { font-size: 175%; }
	li a { font-size: 300%; }

	#wrapper {
		width: 90%;
		margin: 0 auto;
	}

	#navbar{
		width: fit-content;
	}

	ul {
    width: fit-content;
    margin: 0 auto;
    padding: 0;
	}
}